project:
  type: website

website:
  # title: "Code Club"
  image: "images/code_club_pink_white.png"
  page-footer:
    left: "Created and maintained by the [Specialist Analytics Team](mailto:scwcsu.analytics.specialist@nhs.net)"
    right: "This page was built with [Quarto](https://quarto.org/)"


  navbar:
    background: "#1C355E" # SCW Dark Blue
    logo: "images/code_club_text.png"
    # pinned: true
    # align: center
    # style: docked
    search: true
    # collapse-level: 1
    tools:
      - icon: github
        aria-label: GitHub
        href: https://github.com/NHS-South-Central-and-West/code-club
    right:
      - text: Home
        aria-label: Home
        href: index.qmd
      - text: Sessions
        aria-label: Session Series
        menu:
          - text: Essential Skills
            aria-label: Essential Skills Schedule
            href: sessions/essential-skills/schedule.qmd
          - text: Intermediate Skills
            aria-label: Intermediate Skills Schedule
            href: sessions/intermediate-skills/schedule.qmd
      - text: Resources
        aria-label: Additional Resources
        menu:
          - text: Glossary
            aria-label: Glossary
            href: resources/glossary.qmd


  sidebar:
    - id: essentials
      title: Essential Skills
      style: docked
      contents:
        - text: Session Schedule
          file: sessions/essential-skills/schedule.qmd
        - section: Onboarding
          contents:
            - text: 1. Python Onboarding
              file: sessions/essential-skills/01-onboarding/index.qmd
            - text: 2. Jupyter Notebooks
              file: sessions/essential-skills/02-jupyter_notebooks/index.qmd
        - section: Exploration & Visualisation
          contents:
            - text: 3. EDA with Pandas
              file: sessions/essential-skills/03-eda-pandas/index.qmd
            - text: 4. Visualisations with Seaborn
              file: sessions/essential-skills/04-seaborn-visualisation/index.qmd
            - text: 5. EDA with Seaborn
              file: sessions/essential-skills/05-eda-seaborn/index.qmd
        - section: Core Concepts
          contents:
            - text: 6. Data Types
              file: sessions/essential-skills/06-data-types/index.qmd
            - text: 7. Control Flow
              file: sessions/essential-skills/07-control-flow/index.qmd
            - text: 8. Functions & Functional Programming
              file: sessions/essential-skills/08-functions/index.qmd
            - text: 9. Object-Oriented Programming
              file: sessions/essential-skills/09-object-oriented-programming/index.qmd
        - section: Exploration & Visualisation
          contents:
            - text: 10. Streamlit Dashboards
              file: sessions/essential-skills/10-streamlit/index.qmd
        - section: Data Science
          contents:
            - text: 11. Comparing Samples
              file: sessions/essential-skills/11-comparing-samples/index.qmd
            - text: 12. Analysing Relationships
              file: sessions/essential-skills/12-analysing-relationships/index.qmd
            - text: 13. Introduction to Linear Regression
              file: sessions/essential-skills/13-intro-linear-regression/index.qmd
            - text: 14. Implementing Linear Regression
              file: sessions/essential-skills/14-implementing-linear-regression/index.qmd
            - text: 15. Beyond Linearity
              file: sessions/essential-skills/15-beyond-linearity/index.qmd

    - id: intermediate
      title: Intermediate Skills
      style: docked
      contents:
        - text: Session Schedule
        - file: sessions/intermediate-skills/schedule.qmd
        - section: Tools
          contents: 
            - text: 16. Git and GitHub
              file: sessions/intermediate-skills/16-git-github/index.qmd
            - text: 17. Quarto
              file: sessions/intermediate-skills/17-quarto-intro/index.qmd
        - section: Intermediate Python
          contents: 
            - text: 18. Webscraping and APIs
              file: sessions/intermediate-skills/18-webscraping-apis/index.qmd
        - section: Machine Learning
          contents: 
            - text: 19. Introduction to Machine Learning
              file: sessions/intermediate-skills/19-introduction-to-machine-learning/index.qmd
            - text: 20. Supervised Learning
              file: sessions/intermediate-skills/20-supervised-learning/index.qmd
            - text: 21. Machine Learning Landscape
            - text: 22. Machine Learning Workflow
        - section: Intermediate Python
          contents: 
            - text: 23. Generators
            - text: 24. Decorators
            - text: 25. Asynchronous programming and callbacks
            - text: 26. Higher order functions
            - text: 27. Map, filter, reduce
            - text: 28. Logging, debugging, exception handling
            - text: 29. Packages
            - text: 30. Design patterns


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true # table of contents
    code-copy: true
    callout-appearance: simple
  revealjs:
    author: Specialist Analytics Team (SAT)
    menu: false
    controls: true
    section-divs: true
    preview-links: false
    link-external-newwindow: true
    embed-resources: true
    transition: fade
    background-transition: fade
    navigation-mode: linear
    email-obfuscation: javascript
    theme: slides-theme.scss
    progress: true
    multiplex: false
    scrollable: false
    hide-inactive-cursor: true
    highlight-style: printing
    pause: true
    fig-width: 6
    fig-height: 7
    fig-align: center
    output-location: column

editor: source

execute:
  freeze: auto
  echo: true
  warning: false

revealjs-plugins:
  - verticator

title-slide-attributes:
    data-background-image: "images/scw_logo.jpg"
    data-background-position: "right 5% bottom 5%"
    data-background-size: "22%"
    data-background-opacity: "1"

from: markdown+emoji
