project:
  type: website

website:
  # title: "Code Club"
  image: "images/code_club_pink_white.png"
  page-footer:
    left: "Created and maintained by the [Specialist Analytics Team](mailto:scwcsu.analytics.specialist@nhs.net)"
    right: "This page was built with [Quarto](https://quarto.org/)"


  navbar:
    background: "#1C355E" # SCW Dark Blue
    logo: "images/code_club_text.png"
    # pinned: true
    # align: center
    # style: docked
    search: true
    # collapse-level: 1
    tools:
      - icon: github
        aria-label: GitHub
        href: https://github.com/NHS-South-Central-and-West/code-club
    right:
      - text: Home
        aria-label: Home
        href: index.qmd
      # - text: Schedule
      #   aria-label: Sessions Schedule
      #   href: schedule.qmd  # This was the original structure, reflected in the link people originally received,
                              # hence the need for the redirect page.
      - text: Sessions
        aria-label: Session Series
        menu:
          - text: Essential Skills
            aria-label: Essential Skills Schedule
            href: sessions/schedule.qmd
          - text: Intermediate Skills
            aria-label: Intermediate Skills Schedule
            href: intermediate-skills-sessions/intermediate_skills_schedule.qmd
      - text: Resources
        aria-label: Additional Resources
        menu:
          - text: Glossary
            aria-label: Glossary
            href: resources/glossary.qmd
      #- sidebar:essentials
      #- sidebar:intermediate


  sidebar:
    - id: essentials
      title: Essential Skills
      style: docked
      contents:
        - text: Session Schedule
          file: sessions/schedule.qmd
        - section: Onboarding
          contents:
            - text: 1. Python Onboarding
              file: sessions/01-onboarding/index.qmd
            - text: 2. Jupyter Notebooks
              file: sessions/02-jupyter_notebooks/index.qmd
        - section: Exploration & Visualisation
          contents:
            - text: 3. EDA with Pandas
              file: sessions/03-eda-pandas/index.qmd
            - text: 4. Visualisations with Seaborn
              file: sessions/04-seaborn-visualisation/index.qmd
            - text: 5. EDA with Seaborn
              file: sessions/05-eda-seaborn/index.qmd
        - section: Core Concepts
          contents:
            - text: 6. Data Types
              file: sessions/06-data-types/index.qmd
            - text: 7. Control Flow
              file: sessions/07-control-flow/index.qmd
            - text: 8. Functions & Functional Programming
              file: sessions/08-functions/index.qmd
            - text: 9. Object-Oriented Programming
              file: sessions/09-object-oriented-programming/index.qmd
        - section: Exploration & Visualisation
          contents:
            - text: 10. Streamlit Dashboards
              file: sessions/10-streamlit/index.qmd
        - section: Data Science
          contents:
            - text: 11. Comparing Samples
              file: sessions/11-comparing-samples/index.qmd
            - text: 12. Analysing Relationships
              file: sessions/12-analysing-relationships/index.qmd
            - text: 13. Introduction to Linear Regression
              file: sessions/13-intro-linear-regression/index.qmd
            - text: 14. Implementing Linear Regression
              file: sessions/14-implementing-linear-regression/index.qmd
            - text: 15. Beyond Linearity

    - id: intermediate
      title: Intermediate Skills
      style: docked
      contents:
        - text: Session Schedule
        - file: intermediate-skills-sessions/intermediate_skills_schedule.qmd
        - section: Tools
          contents: 
            - text: 16. Git and GitHub
            - text: 17. Quarto
        - section: Intermediate Python
          contents: 
            - text: 18. Webscraping and APIs
            - file: intermediate-skills-sessions/18-webscraping-apis/index.qmd
            - text: Bonus content - Fingertips package walkthrough
            - file: intermediate-skills-sessions/18-webscraping-apis/fingertips_py.qmd
        - section: Machine Learning
          contents: 
            - text: 19. Introduction to Machine Learning
            - text: 20. Linear and Logistic Regression Machine Learning Models
            - text: 21. Machine Learning Workflows
            - text: 22. Unsupervised Machine Learning
        - section: Intermediate Python
          contents: 
            - text: 23. Generators
            - text: 24. Decorators
            - text: 25. Asynchronous programming and callbacks
            - text: 26. Higher order functions
            - text: 27. Map, filter, reduce
            - text: 28. Logging, debugging, exception handling
            - text: 29. Packages
            - text: 30. Design patterns


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true # table of contents
    code-copy: true
    callout-appearance: simple
  revealjs:
    author: Specialist Analytics Team (SAT)
    menu: false
    controls: true
    section-divs: true
    preview-links: false
    link-external-newwindow: true
    embed-resources: true
    transition: fade
    background-transition: fade
    navigation-mode: linear
    email-obfuscation: javascript
    theme: slides-theme.scss
    progress: true
    multiplex: false
    scrollable: false
    hide-inactive-cursor: true
    highlight-style: printing
    pause: true
    fig-width: 6
    fig-height: 7
    fig-align: center
    output-location: column

editor: source

execute:
  freeze: auto
  echo: true
  warning: false

revealjs-plugins:
  - verticator

title-slide-attributes:
    data-background-image: "images/scw_logo.jpg"
    data-background-position: "right 5% bottom 5%"
    data-background-size: "22%"
    data-background-opacity: "1"

from: markdown+emoji
